
<div class="main-container">
    {{#if this.isMaximize}}
    <div class="sidebar">
        <div class="sidebar-header">
            Utopia Wallet
        </div>
        <div class="profile-div">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHGKQbAICHPoyIb28DBWuPT2VTSxUaSVLjyA&s" width="80" height="80">
            <h1>Brian O'Conner</h1>
        </div>
        <div class="sidebar-menu">
            <ul>
                <LinkTo @route="home" ><li class={{if (eq this.currentRoute "home") "active"}}><img src="/home.png" width="40" height="40"><p>Home</p></li></LinkTo>
                <LinkTo @route="create-page" ><li class={{if (or (eq this.currentRoute "create-page") (eq this.currentRoute "edit")) "active"}}><><img src="/subscription.png" width="40" height="40"><p>Subscriptions</p></li></LinkTo>
                <LinkTo @route="transactions" ><li class={{if (eq this.currentRoute "transactions") "active"}}><><img src="/spending.png" width="40" height="40"><p>Transactions</p></li></LinkTo>
                <li><img src="/calendar.png" width="40" height="40"><p>Calendar</p></li>
                <li {{on "click" this.Minimize}}><img src="/back.png" width="40" height="40"><p>Minimize</p></li>
            </ul>
        </div>
        <div class="sidebar-footer">
            <img src="/user.png" width="40" height="40">
            <p>Account</p>
        </div>
    </div>
    {{else}}
    <div class="sidebar-mini-container">
        <div class="sidebar sidebar-mini">
            <div class="mini-header">
                <img src="/payment.png" width="60" height="60">
            </div>
            <div class="profile-div">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHGKQbAICHPoyIb28DBWuPT2VTSxUaSVLjyA&s" width="80" height="80">
            </div>
            <div class="sidebar-menu">
                <ul>
                    <LinkTo @route="home" ><li class={{if (eq this.currentRoute "home") "active"}}><img src="/home.png" width="40" height="40"></li></LinkTo>
                    <LinkTo @route="create-page" ><li class={{if (or (eq this.currentRoute "create-page") (eq this.currentRoute "edit")) "active"}}><><img src="/subscription.png" width="40" height="40"></li></LinkTo>
                    <LinkTo @route="transactions" ><li class={{if (eq this.currentRoute "transactions") "active"}}><><img src="/spending.png" width="40" height="40"></li></LinkTo>
                    <li><img src="/calendar.png" width="40" height="40"></li>
                    <li {{on "click" this.maximize}}><img src="/next.png" width="40" height="40"></li>
                </ul>
            </div>
            <div class="sidebar-footer">
                <img src="/user.png" width="40" height="40">
            </div>
        </div>
    </div>
    {{/if}}
    <div class="container">
        {{#if (eq this.currentRoute "index")}}
        <div class="intro-div">
        <p class="intro-p">Welcome to Utopia Wallet</p>
        <img src="/payment.png" width="200" height="200"> 
        </div>
        {{else}}
        {{liquid-outlet}}
        {{/if}}
    </div>
</div>

<BasicDropdownWormhole />