<div class="home-container">
    <div class="wallet-subscriptions">
        <div class="wallet-div">
            <h1 class="title">Digital Wallet</h1>
            <hr>
            <div id="wallet-balance">${{@model.moneyBalance}}
                <img src="/wallet2.png" width="60" height="60">
            </div>
            {{#if (eq this.isShowAddAmount false)}}<button type="button" class="add-amount-btn" {{on "click" this.toggleAddAmount}}>Add money</button>{{/if}}
            {{#liquid-if predicate=this.isShowAddAmount class="add-amount"}}
            <div class="add-amount-div" {{on-click-outside this.cancelAddAmount}}>
                <label>Enter the amount:</label>
                <input type="text" id="add-amount-input" {{on "input" this.updateAmount}}>
                <br>
                <button type="button" {{on-key "Enter" this.addAmount}} {{on "click" this.addAmount}}>Add</button>
            </div>
            {{/liquid-if}}
        </div>
        <div class="subscription-div">
            <div class="subscription-table-header">
                <h1 class="title">Subscriptions</h1>
                <hr>
            </div>
            <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Plan</th>
                        <th>Cycle</th>
                        <th>Amount</th>
                        <th>Category</th>
                        <th>Payment method</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each @model.subscriptionList as |subscriber|}}
                    <tr>
                        <td>{{subscriber.name}}</td>
                        <td>{{subscriber.plan}}</td>
                        <td>{{subscriber.cycle}}</td>
                        <td>${{subscriber.amount}}</td>
                        <td>{{subscriber.category}}</td>
                        <td>{{subscriber.paymentMethod}}</td>
                        <td>
                            <LinkTo @route="edit" @model={{subscriber.id}}>
                                <button type="button">Edit</button>
                            </LinkTo>
                            <button type="button" {{on "click" (fn this.deleteSubscriber subscriber)}}>Delete</button>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        </div>
    </div>
    <div class="payment-expired">
    <div class="expired-payments">
        <h1 class="title">Expired</h1>
        <hr>
        <ul>
            <li>
                <img src="/youtube.png" width="50" height="50">
                <div class="expired-name">
                    <p class="first">Youtube</p>
                    <p class="second">Standard</p>
                </div>
                <div class="expired-plan">
                    <p class="first">$289</p>
                    <p class="second">/month</p>
                </div>
            </li>
            <li>
                <img src="/netflix.png" width="50" height="50">
                <div class="expired-name">
                    <p class="first">Netflix</p>
                    <p class="second">Pro</p>
                </div>
                <div class="expired-plan">
                    <p class="first">$499</p>
                    <p class="second">/month</p>
                </div>
            </li>
            <li>
                <img src="/jiohotstar.webp" width="50" height="50">
                <div class="expired-name">
                    <p class="first">Jio Hotstar</p>
                    <p class="second">Standard</p>
                </div>
                <div class="expired-plan">
                    <p class="first">$189</p>
                    <p class="second">/month</p>
                </div>
            </li>
            <li>
                <img src="/amazon-prime.webp" width="50" height="50">
                <div class="expired-name">
                    <p class="first">Amazon Prime</p>
                    <p class="second">Pro+</p>
                </div>
                <div class="expired-plan">
                    <p class="first">$1999</p>
                    <p class="second">/year</p>
                </div>
            </li>
            <li>
                <img src="/linkedin.png" width="50" height="50">
                <div class="expired-name">
                    <p class="first">LinkedIn</p>
                    <p class="second">Standard</p>
                </div>
                <div class="expired-plan">
                    <p class="first">$799</p>
                    <p class="second">/month</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="payment-methods">
        <h1 class="title">Payment Methods</h1>
        <hr>
        <ul>
            <li><img src="/card.png" width="50" height="50">Debit Card</li>
            <li><img src="/mobile-banking.png" width="50" height="50">Net Banking</li>
            <li><img src="/google-pay.png" width="50" height="50">UPI</li>
            <li><img src="/wallet.png" width="50" height="50">Utopia Wallet</li>
        </ul>
    </div>
    </div>
</div>