<div class="transactions-container" {{on-key "Backspace" this.goBack}}>
    <h1 class="title">Transactions History</h1>
    <hr>
    <div class="power-type-filter">
    <label>Filter by Type:</label>
    <PowerSelect @options={{this.model.transactionTypes}} @selected={{this.model.transactionTypeFilter}}  @onChange={{this.updateTransactionTypes}} as |types|>
        {{types}}
    </PowerSelect>
    </div>

    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Amount</th>
                    <th>Description</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
                {{#each this.model.filteredList as |transactionInfo|}}
                <tr>
                    <td>{{transactionInfo.name}}</td>
                    <td>{{transactionInfo.type}}</td>
                    <td>{{transactionInfo.amount}}</td>
                    <td>{{transactionInfo.description}}</td>
                    <td>{{transactionInfo.date}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>